.container {
  max-width: 900px;
}

header {
  .container {
    nav {
      display: flex;
      flex-flow: row wrap;

      .btn:not(:first-child) {
        margin-left: 1em;
      }
      span {
        flex: 1 0 auto;
      }
    }
  }
}

footer {
//  @extend header;
  border-bottom: none;
  border-top: 1px dashed #b5e853;
}


.administrator {
color: #11806a; //#ad1457;
font-weight: bold;
}

.moderator {
color: #d82932;
font-weight: bold;
}

.askubuntu{
font-weight: bold;
color: #b9bbbe;
}

.trusted {
color: #43b581;
font-weight: bold;
}

.active {
color: #faa61a;
font-weight: bold;
}

.everyone {
color: #b9bbbe;
font-weight: bold;
}

.bot {
color: #206694;
font-weight: bold;
}

.trustedbot {
color: #3498db;
font-weight: bold;
}


.channel {
    color: #7289da;
    font-weight: bold;
}


.codeblock {
  color: #b5e853;
  background-color: #000;
  border: 1px solid #999;
  padding-left: 20px;
  padding-right: 20px;
}


 code {
  color: #b5e853;
  background-color: #000;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}
