<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="refresh" content="5;url={{ site.redirect_domain | append: page.url }}" />
    <link rel="canonical" href="{{ site.redirect_domain | append: page.url }}"/>

    <script>
      setTimeout(function() {
        location='{{ site.redirect_domain | append: page.url }}';
      }, 5000);
    </script>
{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <div class="container">
    
      <h1>We moved this site to our own domain</h1>
      <p>This domain will be shut down soon.</p>
      <p>You will be redirected to our new site at {{ site.redirect_domain }} in 5 seconds.</p>
      <p><a href="{{ site.redirect_domain | append: page.url }}">Click here if you are not redirected automatically.</a></p>

    </div>
    
    <footer>
      <div class="container">
        <span>© 2017 by ByteCommander</span>
        <span>
          <a href="https://js.org" target="_blank" title="JS.ORG | JavaScript Community">
          <img src="https://logo.js.org/bright_horz.png" width="102" alt="JS.ORG Logo"/></a>
        </span>
      </div>
    </footer>

  </body>
</html>
